.eslintrc.json
.travis.yml
.vscode/
_config.yml
npm-release*
tests/
node-red-contrib-tibber-api-*.tgz
.config.json*
.flows_*
flows_*
.config.*.json
.config.*.json.backup
.devcontainer/
.github/
.prettierrc
